[Unit]
Description=KpVotes in Docker
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=on-failure
RemainAfterExit=yes
WorkingDirectory=/srv/kp-votes
ExecStart=/usr/bin/docker compose up -d
ExecReload=/usr/bin/docker compose restart
ExecStop=/usr/bin/docker compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target

