# Path to config file
KPVOTES_CONFIG=/app/config.json

# Override individual settings via env vars:
# KPVOTES_CACHE_PATH=/app/data/votes.json
# KPVOTES_INTERVAL_MINUTES=120
# KPVOTES_TWITTER_APPKEY=...
# KPVOTES_TWITTER_APPSECRET=...
# KPVOTES_TWITTER_ACCESSTOKEN=...
# KPVOTES_TWITTER_ACCESSSECRET=...
